:root {
  --rows-max: 20;
  --cols-max: 80;
  --cell-size: .5rem;
}

.Grid {
  display: grid;
  grid-template-columns: repeat(var(--cols-max), [col] var(--cell-size));
  grid-template-rows: repeat(var(--rows-max), [row] var(--cell-size));
  border: 1px solid #ccc;
  margin: 2rem;
}

.Header,
.Footer {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  min-height: 5rem;
}

.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.Actions {
  display: flex;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
