.Grid {
  display: grid;
  grid-template-columns: repeat(80, [col] 1rem);
  grid-template-rows: repeat(20, [row] 1rem);
  border: 1px solid #ccc;
  margin: 2rem;
}

.Header,
.Footer {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  min-height: 5rem;
}

.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.Actions {
  display: flex;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
