extends layout

block content
  header.header
    h1=title
  main.MainContent
    p.Info.js-log
    .Actions
      button.Btn.js-btnStart(type="button" name="button") Start
    .Grid.js-grid
    section.Section
      .Skills
        .Skills-heading Languages:
        ul.Tags
          li.Tag Javascript w/ES6
          li.Tag CSS Flexbox
          li.Tag CSS Grid Layout
          li.Tag HTML5
          li.Tag PUG Template
        .Skills-heading Libraries:
        ul.Tags
          li.Tag Ramda
          li.Tag Node w/ExpressJS

  footer.footer
    a(href="https://dgattoni.github.io/" target="_blank") Daniela Gattoni - Frontend Engineer
