doctype html
html
  head
    title= title
    link(rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,400i,500,700')
    link(rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Ropa+Sans:400,400i')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.Container
    block content
    script(src='https://cdnjs.cloudflare.com/ajax/libs/ramda/0.25.0/ramda.js')
    script(src='/javascripts/index.js')
