doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.Container
    block content
    script(src='https://cdnjs.cloudflare.com/ajax/libs/ramda/0.25.0/ramda.js')
    script(src='/javascripts/index.js')
