:root {
  --rows-max: 20;
  --cols-max: 80;
  --cell-size: .6rem;
  --color-live-cell: #009688;
  --color-dead-cell: #fff;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.Grid {
  display: grid;
  grid-template-columns: repeat(var(--cols-max), [col] var(--cell-size));
  grid-template-rows: repeat(var(--rows-max), [row] var(--cell-size));
  border: 1px solid #ccc;
  margin: 2rem;
}

/* Selector used on JS */
.Cell {
}

.Cell--live {
  background-color: var(--color-live-cell);
}

.Cell--dead {
  background-color: var(--color-dead-cell);
}

.Header,
.Footer {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  min-height: 5rem;
}

.MainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.Actions {
  display: flex;
}
